# Eclipse
local.properties

# Operating systems
.DS_Store

# IntelliJ / Android Studio
*.iml
*.ipr
*.iws
.idea/
captures/

# Android build files
*.apk
*.ap_

# Gradle
.gradle/
build/
.gradletasknamecache
gradle.properties
